#sachini_registrationform {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e2e1e1;
    margin-bottom: 80px;
  }
  
  #sachini_formTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
  }
  
  #sachini_registrationform label {
    display: block;
    margin-bottom: 10px;
  }
  
  #sachini_registrationform input {
    width: 32%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-right: 5px;
  }
  
  #sachini_registrationform h3 {
    margin-bottom: 20px;
  }
  
  #sachini_registrationform button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sachini_registrationform button:hover {
    background-color: #45a049; 
  }
  
  #sachini_formTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .centeredTitle {
    text-align: center; 
  }
  
  #sachini_regButton {
    text-align: center;
    margin-top: 10px; 
  }
  
  #sachini_specializationSelect {
    width: 240px;
    height: 40px;
    margin-right: 5px;
  }

  #reg-selection {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 33%;
    box-sizing: border-box;
  }
  
  #reg-selection:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }