@import "../vars.css";

.bodyD {
  background: rgb(23,55,110);
  background: linear-gradient(225deg, rgba(23,55,110,1) 6%, rgba(255,255,255,1) 65%, rgba(169,174,176,1) 90%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    min-height:100% ;
    opacity: 1;

   

  }
