#sachini_assignment_upload {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b8b1b1;
    border-radius: 10px;
    margin-top: 120px; 
    margin-bottom: 100PX;
    background-color: rgb(216, 218, 213);
  }
  
  #sachini_assignment_upload h3 {
    font-weight: bold;
}
  
/* #sachini_assignment_upload label {
    
    text-align: left; 
    display: block; 
    width: 100%; 
    margin-top: 30px;
} */

#sachini-doc-lbl {
    font-weight: bold;
    text-align: left; 
    display: block; 
    width: 100%; 
    margin-top: 30px;
}

#sachini-doc-lbl2 {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 5px;
}
  
#sachini_assignment_upload input[type="file"] {
    margin-top: 10px;
    width: 100%; 
}
#sachini_assignment_upload progress {
    width: 80%;
    height: 20px;
    margin-top: 10px;
}

#sachini-save-changes-btn {
    padding: 10px;
    background-color: #e6e95a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px; 
    font-size: 18px;
    margin-bottom: 5px;
}

#sachini-save-changes-btn:hover {
    background-color: #c4bb3f;
}

#sachini-canclbtn {
    padding: 10px;
    background-color: #f75555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; 
    margin-bottom: 5px;
}


#sachini-ass-upload-btn {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 5px;
    font-size: 18px;
}

#sachini-ass-upload-btn:hover {
    background-color: #45a049;
}

#sachini-canclbtn {
    background-color: #f44336 !important;
}

#sachini-showchanges-btn {
    background-color: #657566;
}
